
# NODE_ENV=production
# PROD_DATABASE=1

# Server
URL=http://localhost
FULL_API_URL=http://localhost:4000/api/v1
EMAIL_DOMAIN=servesyncplus.et
SMTP_EMAIL=servesyncplus@gmail.com
SMTP_PASSWORD=smtp-password

## Backend

BACKEND_PORT=4000
JWT_AUTH_KEY=fSuwkiibZGgROT9gukjqBDNi-u3aRo3jhruNBvK4gfyaZfyjDzlzZY3VAexry-xa
JWT_AUTH_ALG=HS256
JWT_EMPLOYEE_HIRE_KEY=fSuwkiibZGgROT9gukjqBDNi-u3aRo3jhruNBvK4gfyaZfyjDzlzZY3VAexry-xa
JWT_EMPLOYEE_HIRE_ALG=HS256
SALT_ROUNDS=10

## Frontend

PORT=3000

# DB
PG_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/servesyncplus"
SQLITE_DATABASE_URL=".local/dev.db"